.cen{
    text-align: center;
}
.view{
    text-decoration: none;
}
#img-fluid{
    max-width: 100%;
    height: auto;
    display: block;
    
}
.responsive-text {
    font-size: 1rem; /* 1rem = 16px */
  }